{% extends 'base.html.twig' %}

{% block styles %}
  <style>
    #btnFruitList { display: none; }
    #fruitName { cursor: pointer; }
    .custom-active { background-color:
	 #ffd699 !important; }
  </style>
{% endblock styles %}

{% block body %}

<h2>Ajax</h2>

<div id="appHtml">




  <div class="container">
    <div class="row">

      <div class="col-md-8">
          <button type="button" id="btnTestAjax" class="btn btn-primary">Test Ajax</button>
          <button type="button" id="btnFruitList" class="btn btn-primary">Liste des fruits</button>
        <hr>
        Afficher en tant que
        <select id="displaySelect">
          <option value="table">Tableau</option>
          <option value="list">Liste </option>
        </select>
        <input id="cbEatable" type="checkbox" checked>Comestible
        <input id="cbNonEatable" type="checkbox" checked>Non comestible
        <input type="text" id="search" placeholder="Recherche">
        <hr>

        <div id="fruitDisplay">
        </div>
      </div>

      <div class="col-md-4">
        Détails
        <div id="fruitDetails">
        </div>
      </div>

    </div>     <!-- fin de row -->
  </div>

</div> <!-- fin de appHtml -->


{% endblock body %}
{% block js %}
<script type="text/javascript" src="{{asset('js/client.js')}}">

</script>
{% endblock js %}
